@import "tailwindcss";

/* Global variables */
@theme {
    /* Text Sizes */
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.625rem;
    --text-2xl: 2.125rem;
    --text-3xl: 2.625rem;
    --text-4xl: 3.5rem;
    --text-5xl: 4.5rem;

    /* Fonts */
    --font-system:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --default-font-family: Rubik, var(--font-system);

    /* Colors */
    --color-accent-regular: #ca0707;
    --color-accent-light: #f66161;
    --color-accent-overlay: hsla(0, 81%, 36%, 0.33);

    /* Breakpoints */
    --breakpoint-3xl: 120rem;
}

/* Global styling */
@layer base {
    html,
    body {
        @apply min-h-full overflow-x-hidden;
    }

    body {
        @apply bg-black leading-normal font-normal text-white antialiased text-shadow-gray-800 text-shadow-md;
    }

    *,
    *::after,
    *::before {
        @apply pointer-events-auto m-0 box-border transition-all duration-150;
    }

    img {
        @apply h-auto max-w-full;
    }

    a:hover,
    a:focus {
        @apply text-accent-light;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply leading-[1.1] font-semibold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }
}

/* Utilities */
.wrapper {
    @apply 3xl:max-w-400 mx-auto w-full max-w-332 px-6 wrap-anywhere;
}
