---
// Import the layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Import components
import LinkButton from "../components/LinkButton.astro";
---

<BaseLayout title="Not found">
    <div class="flex h-screen flex-col justify-center" id="section-404">
        <div class="wrapper">
            <div class="grid gap-14 px-10 text-start text-xl">
                <div class="flex flex-col gap-4">
                    <h1>404 - Not found</h1>
                    <p>This URL is pure shit, it's totally useless.</p>
					<div class="mt-2">
						<LinkButton href="/">Back to home</LinkButton>
					</div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    #section-404 {
        background: url("/assets/backgrounds/background-1.jpg") center center;
        background-size: cover;
    }
</style>
