---
// Import the layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Import components
import { Image } from 'astro:assets';

//Import images
import canonEOS2000D from '../images/gear/canonEOS2000D.jpg';
import canonEOS250D from '../images/gear/canonEOS250D.jpg';
---

<BaseLayout title="Gear">
    <div class="pt-72 pb-24 lg:pb-60" id="section-top">
        <div class="wrapper">
            <div class="grid max-w-2xl gap-14 text-start text-xl md:px-10">
                <div class="flex flex-col gap-2">
                    <h1>The gear I use</h1>
                    <p>
                        The specific gear used per YouTube video is in the description of that video.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-24 lg:py-40" id="section-cameras">
        <div class="wrapper">
            <div class="text-center md:px-10">
                <h1>My camera's</h1>
            </div>

            <div class="mt-12 grid grid-rows-2 gap-8 lg:grid-cols-2 lg:grid-rows-1">
                <div class="flex flex-col justify-center rounded-3xl box backdrop-blur-xl p-9 gap-1 text-center outline-1 outline-neutral-700">
                    <h4><a href="https://www.canon.nl/cameras/eos-250d/" target="_blank">Canon EOS 250D</a></h4>
                    <p>
                        This is my main shooter, I have used this camera in all of my recent video's. I mostly record in 1080p at 60 fps.
                    </p>
                    <Image class="rounded-2xl mt-2" src={canonEOS250D} alt="Canon EOS 250D" />
                </div>

                <div class="flex flex-col justify-center rounded-3xl box backdrop-blur-xl p-9 gap-1 text-center outline-1 outline-neutral-700">
                    <h4><a href="https://www.canon.nl/cameras/eos-2000d/" target="_blank">Canon EOS 2000D</a></h4>
                    <p>
                        This is my older camera, I still use it occasionally when I need two angles at once. Depending on the specific needs of a video I will either shoot at 720p 60 fps or 1080p 30 fps.
                    </p>
                    <Image class="rounded-2xl mt-2" src={canonEOS2000D} alt="Canon EOS 2000D" />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    #section-top {
        background: url("/assets/backgrounds/background-1.jpg") center center;
        background-size: cover;
    }

    #section-cameras {
        background: url("/assets/backgrounds/background-2.jpg") center center;
        background-size: cover;
    }

    .box {
        background: url("/assets/backgrounds/noise.png") top center/220px repeat;
        background-color: #00000090;
    }
</style>
