---
// Import the layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Import components
import { Image } from "astro:assets";

//Import images
import canonEOS2000D from "../images/gear/canonEOS2000D.jpg";
import canonEOS250D from "../images/gear/canonEOS250D.jpg";
import RODEVideoMicGOII from "../images/gear/RODEVideoMicGOII.jpg";
import RODEWirelessME_LavII from "../images/gear/RODEWirelessME_LavII.jpg";
---

<BaseLayout
    title="Gear"
    description="Want to know what gear I use? Well... you can find it here!"
>
    <div class="bg-[url(/assets/backgrounds/background-1.jpg)] bg-cover bg-center pt-72 pb-24 lg:pb-60">
        <div class="wrapper">
            <div class="flex max-w-2xl flex-col gap-2 text-start text-xl md:px-10">
                <h1>The gear I use</h1>
                <p>
                    The specific gear used per YouTube video is in the
                    description of that video.
                </p>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/background-lens.jpg)] bg-cover bg-center py-24 lg:py-40"
        id="cameras"
    >
        <div class="wrapper">
            <h1 class="text-center md:px-10">My camera's</h1>

            <div class="mt-12 grid grid-rows-2 gap-8 lg:grid-cols-2 lg:grid-rows-1">
                <div class="box flex flex-col justify-center gap-1 rounded-3xl p-9 text-center outline-1 outline-neutral-700 backdrop-blur-xl">
                    <h4>
                        <a
                            href="https://www.canon.nl/cameras/eos-250d/"
                            target="_blank">Canon EOS 250D</a>
                    </h4>
                    <p class="text-start">
                        This is my main shooter, I have used this camera in all
                        of my recent video's. I mostly record in 1080p at 60
                        fps. The main lens I use is the <a
                            href="https://www.canon.nl/lenses/ef-s-18-135mm-f-3-5-5-6-is-stm-lens/"
                            target="_blank"
                            >Canon EF-S 18-135mm f/3.5-5.6 IS STM</a
                        > lens, giving me great zoom flexibility. For wide angle
                        shots I use the <a
                            href="https://www.canon.nl/lenses/ef-s-10-18mm-f-4-5-5-6-is-stm-lens/"
                            target="_blank"
                            >Canon EF-S 10-18mm f/4.5-5.6 IS STM</a
                        > lens.
                    </p>
                    <Image
                        class="mt-2 rounded-2xl"
                        src={canonEOS250D}
                        alt="Canon EOS 250D"
                    />
                </div>

                <div class="box flex flex-col justify-center gap-1 rounded-3xl p-9 text-center outline-1 outline-neutral-700 backdrop-blur-xl">
                    <h4>
                        <a
                            href="https://www.canon.nl/cameras/eos-2000d/"
                            target="_blank">Canon EOS 2000D</a>
                    </h4>
                    <p class="text-start">
                        This is my older secondary camera, I still use it
                        occasionally when I need two camera angles at once.
                        Depending on the specific needs of a video I will either
                        shoot at 720p 60 fps or 1080p 30 fps. The lens on this
                        one is the one included in the kit: the <a
                            href="https://www.canon.nl/lenses/ef-s-18-55mm-f-3-5-5-6-is-ii-lens/"
                            target="_blank"
                            >Canon EF-S 18-55mm f/3.5-5.6 IS II</a
                        >.
                    </p>
                    <Image
                        class="mt-2 rounded-2xl"
                        src={canonEOS2000D}
                        alt="Canon EOS 2000D"
                    />
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/background-sound.jpg)] bg-cover bg-center py-24 lg:py-40"
        id="microphones"
    >
        <div class="wrapper">
            <h1 class="text-center md:px-10">My microphones</h1>

            <div class="mt-12 grid grid-rows-2 gap-8 lg:grid-cols-2 lg:grid-rows-1">
                <div class="box flex flex-col justify-center gap-1 rounded-3xl p-9 text-center outline-1 outline-neutral-700 backdrop-blur-xl">
                    <h4>
                        <a
                            href="https://rode.com/en-int/products/videomic-go-ii"
                            target="_blank">RØDE VideoMic GO II</a>
                    </h4>
                    <p class="text-start">
                        I use this shotgun mic in most static shots, for example
                        in <a
                            href="https://www.youtube.com/watch?v=i30fddkbUZE"
                            target="_blank">"The problem with smart lights"</a
                        >. It's pretty affordable and in my opinion sounds
                        great!
                    </p>
                    <Image
                        class="mt-2 rounded-2xl"
                        src={RODEVideoMicGOII}
                        alt="RØDE VideoMic GO II"
                    />
                </div>

                <div class="box flex flex-col justify-center gap-1 rounded-3xl p-9 text-center outline-1 outline-neutral-700 backdrop-blur-xl">
                    <h4>
                        <a
                            href="https://rode.com/en-int/products/wireless-me"
                            target="_blank">RØDE Wireless ME</a
                        > + <a
                            href="https://rode.com/en-int/products/lavalier-ii"
                            target="_blank">RØDE Lavalier II</a>
                    </h4>
                    <p class="text-start">
                        I use this combination whenever I'm not using the
                        shotgun mic. It doesn't sound as good as the shotgun,
                        but is a good alternative for example when I'm moving a
                        lot like in a VR game.
                    </p>
                    <Image
                        class="mt-2 rounded-2xl"
                        src={RODEWirelessME_LavII}
                        alt="RØDE Wireless ME + RØDE Lavalier II"
                    />
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .box {
        background: url("/assets/backgrounds/noise.png") top center/220px repeat;
        background-color: #00000090;
    }
</style>
