---
// Import the layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Import components
import { YouTube } from "@astro-community/astro-embed-youtube";

import { socialLinks } from "../components/SocialLinks";
import LinkButton from "../components/LinkButton.astro";
---

<BaseLayout description="This is the official website of Duisterethomas!">
    <div class="bg-[url(/assets/backgrounds/background-1.jpg)] bg-cover bg-center pt-72 pb-24 lg:pb-60">
        <div class="wrapper">
            <div class="flex max-w-2xl flex-col gap-2 text-start text-xl md:px-10">
                <h1>I do stuff...</h1>
                <p>
                    Yeah that's basically it. You can find everything I share
                    somewhere in here!
                </p>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/background-2.jpg)] bg-cover bg-center py-24 lg:py-40"
        id="youtube"
    >
        <div class="wrapper">
            <YouTube
                class="min-w-full rounded-2xl shadow-md shadow-gray-800"
                id="https://www.youtube.com/watch?v=l2IrsPJsvtk"
                posterQuality="max"
            />
            <div class="mt-4 flex flex-col gap-4 text-center md:flex-row md:text-start">
                <h4 class="my-auto">My most recent YouTube video</h4>
                <div class="mx-auto md:mr-0">
                    <LinkButton
                        href={socialLinks["youtube"]["href"]}
                        newtab
                        color={socialLinks["youtube"]["color"]}
                        icon={socialLinks["youtube"]["icon"]}
                        >Subscribe</LinkButton>
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/Ableton-live-it-doesnt-end-here.webp)] bg-cover bg-center py-24 lg:py-32"
        id="music"
    >
        <div class="wrapper">
            <div class="grid items-center text-center text-xl md:px-10 lg:grid-cols-2 lg:gap-14 lg:text-start">
                <div class="flex flex-col items-center gap-2 lg:items-start">
                    <h1>My music</h1>
                    <p>
                        I often use my own music as background tracks in my <a
                            href={socialLinks["youtube"]["href"]}
                            >YouTube videos</a>. The DAW I use is 
                        <a
                            target="_blank"
                            href="https://www.ableton.com/en/live/"
                            >Ableton Live 12</a>.
                    </p>
                    <LinkButton
                        href={socialLinks["soundcloud"]["href"]}
                        newtab
                        color={socialLinks["soundcloud"]["color"]}
                        icon={socialLinks["soundcloud"]["icon"]}
                        >More music</LinkButton
                    >
                </div>

                <div class="flex flex-col gap-5 pt-12 lg:pt-0">
                    <iframe
                        width="100%"
                        height="166"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2217255239&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
                    />
                    <iframe
                        width="100%"
                        height="166"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1987020695&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
                    />
                    <iframe
                        width="100%"
                        height="166"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1933724864&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
                    />
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/Pancake-Mod.webp)] bg-cover bg-center py-24 md:py-40"
        id="pancake-mod"
    >
        <div class="wrapper">
            <div class="m-auto flex max-w-4xl flex-col items-center gap-2 text-center text-xl md:px-10">
                <h1>Pancake Mod</h1>
                <p>
                    I've made a Minecraft mod, the <a
                        href="https://modrinth.com/mod/pancakemod"
                        >Pancake Mod</a
                    >. It simply adds Dutch Pancakes to Minecraft. Why? Because
                    some people (me) find it essential to have Dutch Pancakes in
                    Minecraft.
                </p>
                <div class="mt-2">
                    <LinkButton
                        href={socialLinks["modrinth"]["href"]}
                        newtab
                        color={socialLinks["modrinth"]["color"]}
                        icon={socialLinks["modrinth"]["icon"]}
                        >My mods</LinkButton>
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/GitHub-Rooster-EPD.webp)] bg-cover bg-top py-24 lg:py-40"
        id="github"
    >
        <div class="wrapper">
            <div class="flex flex-col items-center justify-center gap-2 text-center text-xl md:px-10">
                <h1>Coding</h1>
                <p class="max-w-4xl">
                    I do a little coding here and there, mostly just silly
                    little things. But sometimes, if I'm really proud of
                    something, I'll share it on GitHub.
                </p>

                <div class="mt-10 grid gap-8 lg:grid-cols-3">
                    <div class="flex flex-col items-center justify-center rounded-3xl bg-black px-9 py-12 text-center outline-1 outline-neutral-700">
                        <h4>Buckshot-Counter</h4>
                        <p>A simple counter/notes app for Buckshot Roulette.</p>
                        <div class="my-2">
                            <LinkButton
                                href="https://github.com/duisterethomas/buckshot-counter"
                                newtab
                                color="#181717"
                                icon={socialLinks["github"]["icon"]}
                                >GitHub repo</LinkButton>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-center rounded-3xl bg-black px-9 py-12 text-center outline-1 outline-neutral-700">
                        <h4>Rooster-EPD</h4>
                        <p>
                            A small e-Paper device that shows your Zermelo
                            schedule.
                        </p>
                        <div class="my-2">
                            <LinkButton
                                href="https://github.com/duisterethomas/rooster-epd"
                                newtab
                                color="#181717"
                                icon={socialLinks["github"]["icon"]}
                                >GitHub repo</LinkButton>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-center rounded-3xl bg-black px-9 py-12 text-center outline-1 outline-neutral-700">
                        <h4>More...</h4>
                        <p>View all my repositories on GitHub.</p>
                        <div class="my-2">
                            <LinkButton
                                href={socialLinks["github"]["href"]}
                                newtab
                                color="#181717"
                                icon={socialLinks["github"]["icon"]}
                                >GitHub</LinkButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="bg-[url(/assets/backgrounds/fnatc.png)] bg-cover bg-center py-24 xl:py-60"
        id="games"
    >
        <div class="wrapper">
            <div class="grid items-center justify-items-center text-start text-xl md:gap-14 md:px-10 xl:grid-cols-2">
                <div class="flex flex-col items-center gap-2 text-center xl:items-start xl:text-start">
                    <h1 class="font-['Big_Shoulders_Stencil'] font-light not-italic">
                        Five Nights at the Cafe
                    </h1>
                    <p>
                        This is a Five Nights at Freddy's fangame I've made. It
                        started out in <a
                            target="_blank"
                            href="https://scratch.mit.edu/projects/230785363/"
                            >Scratch</a
                        >, evolved into <span
                            class="hover:text-accent-light"
                            title="Yes, this is the actual line count of the .py file. And yes, it was a single file, no functions, just one big while True: loop. It was a miracle that the code worked."
                            >3,123</span
                        > lines of
                        <a target="_blank" href="https://www.pygame.org/"
                            >Pygame</a
                        > spaghetti code, and finally I ported it to <a
                            target="_blank"
                            href="https://godotengine.org/">Godot</a>.
                    </p>
                    <div class="mt-2 flex flex-col items-center gap-4 sm:flex-row xl:self-auto">
                        <LinkButton
                            href={socialLinks["gamejolt"]["href"]}
                            newtab
                            color="#2f7f6f"
                            icon={socialLinks["gamejolt"]["icon"]}
                            >Game Jolt</LinkButton>
                        <LinkButton
                            href={socialLinks["itchio"]["href"]}
                            newtab
                            color={socialLinks["itchio"]["color"]}
                            icon={socialLinks["itchio"]["icon"]}
                            >Itch.io</LinkButton>
                    </div>
                </div>

                <iframe
                    class="pt-8 sm:hidden"
                    src="https://widgets.gamejolt.com/package/v1?key=5x7FBTjB"
                    width="350"
                    height="245"
                />

                <iframe
                    class="hidden sm:block"
                    src="https://widgets.gamejolt.com/package/v1?key=5x7FBTjB"
                    width="430"
                    height="245"
                />
            </div>
        </div>
    </div>

    <div class="py-20">
        <div class="wrapper">
            <div class="gap-14 text-center text-xl md:px-10">
                <p>
                    P.S. my merch is not for sale.<br />Can't take no for an
                    answer? Send an e-mail to <a
                        href="mailto:iwantmerch@duisterethomas.nl"
                        >iwantmerch@duisterethomas.nl</a
                    > and be dissapointed.
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
