---
import { iconPaths } from './IconPaths';
import Icon from './Icon.astro';

interface Props {
	href: string,
	newtab?: boolean,
	color?: string,
	icon?: keyof typeof iconPaths;
}

const { href, newtab, color = "var(--accent-regular)", icon } = Astro.props;
---

<a href={href} target={newtab ? "_blank" : ""}>
	{icon && <div class="icon"><Icon icon={icon} /></div>}
	<slot />
</a>

<style define:vars={{ color }}>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		font-size: var(--text-xl);
		padding: 0.5rem 4rem;
		width: fit-content;
		color: var(--accent-text-over);
		text-decoration: none;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--color);
		box-shadow: var(--shadow-md);
		white-space: nowrap;
		border-width: 5px;
		border-color: transparent;
		transition: border-color var(--theme-transition);
	}

	a:focus,
	a:hover {
		color: var(--accent-text-over);
		border-color: var(--accent-text-over);
	}

	.icon {
		margin: auto;
		margin-right: 0.3em;
	}
</style>
