---
import Icon from "./Icon.astro";

const { href, icon, label, color } = Astro.props;
---

<a
    class="tooltip relative flex p-1.5 text-white hover:text-white focus:text-white"
    href={href}
    target="_blank"
>
    <span class="tooltiptext">{label}</span>
    <div class="icon"><Icon icon={icon} /></div>
</a>

<style define:vars={{ color }}>
    @reference "../styles/global.css";

    .icon {
        color: var(--color);
    }

    a:hover .icon,
    a:focus .icon {
        @apply text-white;
    }

    .tooltip .tooltiptext {
        @apply pointer-events-none absolute top-full left-[50%] z-1 transform-[translateX(-50%)] rounded-md bg-black p-[5px] text-center text-sm opacity-0 text-shadow-none;
    }

    .tooltip .tooltiptext::after {
        @apply absolute bottom-full left-[50%] ml-[-5px] border-[5px] border-solid content-[""];
        border-color: transparent transparent #000 transparent;
    }

    .tooltip:hover .tooltiptext,
    .tooltip:focus .tooltiptext {
        @apply opacity-100 delay-500;
    }
</style>
